:host {
  display: block;
}
c-button-toolbar {
  display: flex;
  justify-content: space-between;
}

.dropdown-group, .button-group {
  display: flex;
  justify-content: space-between;
}

.dropdown-group c-dropdown:not(:first-child),
.button-group button:not(:first-child) {
  margin-left: 10px;
}

.push-right {
  margin-left: 90%;
}

.person {
  font-style: italic;
  font-weight: bold;
  color: purple;
  justify-content: flex-end;
}

.bot {
  font-weight: bold;
  color: #2f2f2f;
  justify-content: flex-start;
}
