<form #prismaForm="ngForm" (ngSubmit)="onSubmit(prismaForm)">
  <mat-form-field>
    <input matInput placeholder="Tenant Name" [(ngModel)]="prisma.tenant_name" name="tenant_name" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Client ID" [(ngModel)]="prisma.client_id" name="client_id" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Client Secret" [(ngModel)]="prisma.client_secret" name="client_secret" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="TSG ID" [(ngModel)]="prisma.tsg_id" name="tsg_id" required />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!prismaForm.valid">Submit</button>
</form>
