<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PAN Dashboard</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">Login</button>
  <button mat-button (click)="logout()" *ngIf="isAuthenticated()">Logout</button>
</mat-toolbar>
<mat-sidenav-container class="pan-container" autosize>
  <mat-sidenav #sidenav class="pan-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon class="icon">dashboard</mat-icon>
        <span class="text" *ngIf="isExpanded || isShowing">Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="/inventory" routerLinkActive="active">
        <mat-icon mat-list-icon class="icon">apps</mat-icon>
        <span class="text" *ngIf="isExpanded || isShowing">Inventory</span>
      </mat-list-item>
      <mat-list-item routerLink="/jobs" routerLinkActive="active">
        <mat-icon mat-list-icon class="icon">history</mat-icon>
        <span class="text" *ngIf="isExpanded || isShowing">Past Jobs</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="pan-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
