<mat-toolbar color="primary">
  <span>Prisma Panorama Diffsync</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button [matMenuTriggerFor]="systems">Systems</button>
  <mat-menu #systems="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="panorama">Panorama</button>
    <button mat-menu-item [matMenuTriggerFor]="prisma">Prisma</button>
  </mat-menu>
  <mat-menu #panorama="matMenu">
    <button mat-menu-item routerLink="/panorama">List</button>
    <button mat-menu-item routerLink="/panorama/create">Create New</button>
  </mat-menu>
  <mat-menu #prisma="matMenu">
    <button mat-menu-item routerLink="/prisma">List</button>
    <button mat-menu-item routerLink="/prisma/create">Create New</button>
  </mat-menu>
  <button mat-button routerLink="/jobs">Jobs</button>
  <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">Login</button>
  <button mat-button (click)="logout()" *ngIf="isAuthenticated()">Logout</button>
</mat-toolbar>
<div style="margin: 16px;">
  <router-outlet></router-outlet>
</div>
