.prisma-table {
  padding-top: 20px;
  padding-bottom: 20px;
}

.firewall-table-title,
.panorama-table-title,
.prisma-table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -3rem;
}
