.prisma-table {
  padding-top: 20px;
  padding-bottom: 20px;
}

.panorama-table-title,
.prisma-table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -3rem;
}

button[mat-mini-fab] {
  padding-top: 30px;
  width: 30px;
  height: 30px;
}
