<div class="inventory-container">
  <div class="firewall-table">
    <div class="firewall-table-title">
      <h1>Firewalls</h1>
    </div>
    <app-firewall></app-firewall>
  </div>
  <div class="panorama-table">
    <div class="panorama-table-title">
      <h1>Panorama Instances</h1>
    </div>
    <app-panorama></app-panorama>
  </div>
  <div class="prisma-table">
    <div class="prisma-table-title">
      <h1>Prisma Tenant Groups</h1>
    </div>
    <app-prisma></app-prisma>
  </div>
</div>
