<div class="inventory-container">
  <div class="panorama-table">
    <div class="panorama-table-title">
      <h1 class="table-name">Panorama Instances</h1>
      <button mat-mini-fab color="primary" aria-label="Add Panorama">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <app-panorama></app-panorama>
  </div>
  <div class="prisma-table">
    <div class="prisma-table-title">
      <h1 class="table-name">Prisma Tenant Groups</h1>
      <button mat-mini-fab color="primary" aria-label="Add Prisma">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <app-prisma></app-prisma>
  </div>
</div>
