// add this to your component's .scss
$type-colors: (
  string: #ff7300,
  number: #009688,
  boolean: #b938a4,
  date: #05668D,

  array: #999,
  object: #999,
  function: #999,

  'null': #fff,
  undefined: #fff
);

@each $type, $color in $type-colors {
  ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
    color: $color !important;
  }
}

:host ::ng-deep ngx-json-viewer {
  --ngx-json-key: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1rem + 6pt); // Assuming 1rem is the current font size
}

.json-viewer-wrapper {
  background-color: black;
  padding: 16px;
  // max-height: 600px;
  overflow-y: auto;
}

.json-viewer-wrapper::-webkit-scrollbar {
  width: 8px;
}

.json-viewer-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

.json-viewer-wrapper::-webkit-scrollbar-track {
  background-color: black;
}

::ng-deep .segment-main > .segment-key {
  color: #fff;
}
