<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Create Firewall Entry</strong>
            </c-card-header>
            <c-card-body>
                <form #firewallCreateForm="ngForm" (ngSubmit)="onSubmit(firewallCreateForm)" [validated]="validated"
                    cForm class="row g-3 needs-validation">
                    <c-col md="6">
                        <label cLabel for="hostname">Hostname</label>
                        <input cFormControl id="hostname" required type="text" [(ngModel)]="firewall.hostname"
                            name="hostname" />
                        <c-form-feedback [valid]="false">Please provide a hostname.</c-form-feedback>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="ipv4_address">IPv4 Address</label>
                        <input cFormControl id="ipv4_address" required type="text" [(ngModel)]="firewall.ipv4_address"
                            name="ipv4_address" />
                        <c-form-feedback [valid]="false">Please provide an IPv4 address.</c-form-feedback>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="ipv6_address">IPv6 Address</label>
                        <!-- Removed the "required" attribute to make this field optional -->
                        <input cFormControl id="ipv6_address" type="text" [(ngModel)]="firewall.ipv6_address"
                            name="ipv6_address" />
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="api_token">API Token</label>
                        <input cFormControl id="api_token" required type="text" [(ngModel)]="firewall.api_token"
                            name="api_token" />
                        <c-form-feedback [valid]="false">Please provide an API token.</c-form-feedback>
                    </c-col>
                    <c-col xs="12">
                        <button cButton class="me-1" color="primary" type="submit">
                            Save
                        </button>
                        <button (click)="onCancel()" cButton color="secondary" type="button">
                            Cancel
                        </button>
                    </c-col>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>