<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Sync to Prisma</strong>
            </c-card-header>
            <c-card-body>
                <p class="text-medium-emphasis small">
                    This operation syncs the Panorama instance with Prisma. It
                    fetches system information from a Panorama instance (Palo
                    Alto Networks) and transfers it to Prisma.
                </p>
                <app-automation-interface [scriptName]="'pan_to_prisma/app.py'">
                    <form
                        #syncForm="ngForm"
                        (ngSubmit)="onSubmitForm(syncForm)"
                        [ngClass]="{ 'was-validated': syncForm.valid }"
                        cForm
                        class="row g-3 needs-validation"
                    >
                        <c-col md="8">
                            <label cLabel for="validationServer04"
                                >Panorama Instance</label
                            >
                            <select
                                cSelect
                                id="validationServer04"
                                [(ngModel)]="selectedPanorama"
                                name="selectedPanorama"
                                #selectedPanoramaControl="ngModel"
                                required
                            >
                                <option [ngValue]="null" disabled selected>
                                    Select a Panorama
                                </option>
                                <option
                                    *ngFor="let panorama of panoramas"
                                    [ngValue]="panorama"
                                >
                                    {{ panorama.hostname }}
                                </option>
                            </select>
                            <c-form-feedback
                                [valid]="
                                    selectedPanoramaControl.valid &&
                                    selectedPanoramaControl.touched
                                        ? true
                                        : undefined
                                "
                            >
                                Looks good!</c-form-feedback
                            >
                        </c-col>
                        <c-col md="8">
                            <label cLabel for="validationServer05"
                                >Prisma Tenant</label
                            >
                            <select
                                cSelect
                                id="validationServer05"
                                [(ngModel)]="selectedPrismaTenant"
                                name="selectedPrismaTenant"
                                #selectedPrismaTenantControl="ngModel"
                                required
                            >
                                <option [ngValue]="null" disabled selected>
                                    Select a tenant
                                </option>
                                <option
                                    *ngFor="let prisma of prismaTenants"
                                    [ngValue]="prisma"
                                >
                                    {{ prisma.tenant_name }}
                                </option>
                            </select>
                            <c-form-feedback
                                [valid]="
                                    selectedPrismaTenantControl.valid &&
                                    selectedPrismaTenantControl.touched
                                        ? true
                                        : undefined
                                "
                            >
                                Looks good!</c-form-feedback
                            >
                        </c-col>
                        <c-col xs="12">
                            <button
                                cButton
                                class="me-1"
                                color="primary"
                                type="submit"
                                [disabled]="!syncForm.valid"
                            >
                                Submit form
                            </button>
                        </c-col>
                    </form>
                </app-automation-interface>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
