:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

mat-card {
  width: 100%;
  max-width: 400px;
}

.form-elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
