<div *ngIf="panoramaData">
  <table mat-table [dataSource]="panoramaData" class="mat-elevation-z8">
    <!-- Hostname Column -->
    <ng-container matColumnDef="hostname">
      <th mat-header-cell *matHeaderCellDef>Hostname</th>
      <td mat-cell *matCellDef="let element">{{element.hostname}}</td>
    </ng-container>

    <!-- IPv4 Address Column -->
    <ng-container matColumnDef="ipv4_address">
      <th mat-header-cell *matHeaderCellDef>IPv4 Address</th>
      <td mat-cell *matCellDef="let element">{{element.ipv4_address}}</td>
    </ng-container>

    <!-- IPv6 Address Column -->
    <ng-container matColumnDef="ipv6_address">
      <th mat-header-cell *matHeaderCellDef>IPv6 Address</th>
      <td mat-cell *matCellDef="let element">{{element.ipv6_address}}</td>
    </ng-container>

    <!-- API Token Column -->
    <ng-container matColumnDef="api_token">
      <th mat-header-cell *matHeaderCellDef>API Token</th>
      <td mat-cell *matCellDef="let element">{{element.api_token}}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element">{{element.author}}</td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">{{element.created_at}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<button mat-raised-button color="primary" (click)="showCreateForm = !showCreateForm" class="create-form-button">
  {{ showCreateForm ? 'Hide' : 'Show' }} Create Panorama Form
</button>

<div class="create-form-container" *ngIf="showCreateForm">
  <form (ngSubmit)="onSubmit(panoramaForm)" #panoramaForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Hostname" [(ngModel)]="panorama.hostname" name="hostname" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="IPv4 Address" [(ngModel)]="panorama.ipv4_address" name="ipv4_address" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="IPv6 Address" [(ngModel)]="panorama.ipv6_address" name="ipv6_address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="API Token" [(ngModel)]="panorama.api_token" name="api_token" required>
    </mat-form-field>
    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>
