<div class="button-container">
  <button mat-raised-button color="primary" (click)="openCreateEntryDialog()">Create Panorama Instance</button>
</div>

<div *ngIf="panoramaData">
  <table mat-table [dataSource]="panoramaData" class="mat-elevation-z8">
    <!-- Hostname Column -->
    <ng-container matColumnDef="hostname">
      <th mat-header-cell *matHeaderCellDef>Hostname</th>
      <td mat-cell *matCellDef="let element">{{element.hostname}}</td>
    </ng-container>

    <!-- IPv4 Address Column -->
    <ng-container matColumnDef="ipv4_address">
      <th mat-header-cell *matHeaderCellDef>IPv4 Address</th>
      <td mat-cell *matCellDef="let element">{{element.ipv4_address}}</td>
    </ng-container>

    <!-- IPv6 Address Column -->
    <ng-container matColumnDef="ipv6_address">
      <th mat-header-cell *matHeaderCellDef>IPv6 Address</th>
      <td mat-cell *matCellDef="let element">{{element.ipv6_address}}</td>
    </ng-container>

    <!-- API Token Column -->
    <ng-container matColumnDef="api_token">
      <th mat-header-cell *matHeaderCellDef>API Token</th>
      <td mat-cell *matCellDef="let element">{{element.api_token}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditEntryDialog(row)"></tr>
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
