.search-field {
  width: 100%;
  margin-bottom: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.jobs-table {
  padding-top: 20px;
  padding-bottom: 20px;

  table {
    width: 100%;
  }

  th.mat-header-cell, td.mat-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-column-name {
    width: var(--name-width, 25%);
  }

  .mat-column-description {
    width: var(--description-width, 15%);
  }

  .mat-column-result {
    width: var(--result-width, 30%);
  }

  .mat-column-created_at {
    width: var(--created_at-width, 15%);
  }
}

.jobs-table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -3rem;
}
