<c-card>
  <c-card-header>
    <strong>Create Script</strong>
  </c-card-header>
  <c-card-body>
    <form [formGroup]="scriptForm" (ngSubmit)="onSubmit()" cForm>
      <c-row class="justify-content-center align-items-center" style="height: 100%;">
        <c-col class="ms-auto" sm="12">
          <div class="mb-3 mt-4">
            <textarea formControlName="message" cFormControl id="message" name="body"
              placeholder="Describe your desired script here" rows="12"></textarea>
          </div>
          <div class="mt-1 d-flex justify-content-center">
            <button cButton class="me-1" color="success" type="submit">Send</button>
            <button cButton class="me-1" color="danger" type="reset">Discard</button>
          </div>
        </c-col>
      </c-row>
    </form>
  </c-card-body>
</c-card>