.bg-aws {
    background-color: #FF9900;
}

.bg-azure {
    background-color: #008AD7;
}

.bg-gcp {
    background-color: #0F9D58;
}

.bg-oracle {
    background-color: #C74634;
}

.bg-panos {
    background-color: #FA582D;
}


.bg-proxmox {
    background-color: #e57000;
}

.bg-vmware {
    background-color: #007ab8;
}

.bg-purple {
    background-color: purple;
}

.bg-pink {
    background-color: pink;
}


.widget-link {
    text-decoration: none;
}

.card-header-height {
    height: 150px;
}

.bg-primary {
    --cui-bg-opacity: 1;
    background-color: purple !important;
}

.hashtags {
    margin-top: 10px;
}

.hashtag {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
}