{% extends "_base.html" %}
{% block title %}
    {{ panorama.hostname }}
{% endblock title %}
{% block content %}
<div class="panorama-detail">
    {% if panorama.image.url is not null %}
    <img class="panorama-image"
            src="{{ panorama.image.url }}"
            alt="{{ panorama.hostname }}"
            width="30"
            height="30"/>
    {% endif %}
    <h2>
        <a href="{{ panorama.get_absolute_url }}">{{ panorama.hostname }}</a>
    </h2>
    <ul>
        <li>API Token: {{ panorama.api_token }}</li>
        <li>IPv4: {{ panorama.ipv4_address }}</a></li>
        <li>IPv6: {{ panorama.ipv6_address }}</a></li>
    </ul>
</div>
{% endblock content %}

