<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="entryForm" class="form-group">
    <div class="form-row" *ngFor="let field of data.content">
      <ng-container *ngIf="field.key !== 'author' && field.key !== 'created_at' && field.key !== 'id'">
        <mat-form-field class="form-field">
          <mat-label>{{ field.key }}</mat-label>
          <input matInput [formControlName]="field.key" [value]="field.value" />
        </mat-form-field>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-raised-button color="primary" (click)="updateEntry(entryForm.value)">Update</button>
</mat-dialog-actions>
