<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Get Software Information</strong>
            </c-card-header>
            <c-card-body>
                <p class="text-medium-emphasis small">
                    This Python script fetches system information from a
                    Panorama instance (Palo Alto Networks) and returns it in
                    JSON format. It imports necessary libraries, sets up
                    logging, and receives its parameters from our Panorama
                    object. The script defines several functions:
                    <code>parse_arguments()</code> for parsing command line
                    arguments, <code>setup_panorama_client()</code> for creating
                    a Panorama instance,
                    <code>fetch_system_information()</code> for fetching system
                    info, and <code>run_get_system_info()</code> for the main
                    execution.
                </p>
                <p class="text-medium-emphasis small">
                    The <code>fetch_system_information()</code> function
                    converts the output to an XML string, parses it into a
                    dictionary, and then converts it to JSON. The script accepts
                    two optional command line arguments:
                    <code>--pan-url</code> and <code>--pan-pass</code>, which
                    are sourced from our Panorama instance object. The main
                    function, <code>run_get_system_info()</code>, is executed by
                    a Celery worker, fetching system information and logging the
                    result into the Jobs table of our database.
                </p>
                <app-automation-interface [scriptName]="'get_system_info.py'">
                    <form
                        #customStylesForm="ngForm"
                        (ngSubmit)="onSubmitForm(customStylesForm)"
                        [ngClass]="{ 'was-validated': customStylesForm.valid }"
                        cForm
                        class="row g-3 needs-validation"
                    >
                        <c-col md="8">
                            <label cLabel for="validationServer04"
                                >Panorama Instance</label
                            >
                            <select
                                cSelect
                                id="validationServer04"
                                [(ngModel)]="selectedPanorama"
                                name="selectedPanorama"
                                #selectedPanoramaControl="ngModel"
                                required
                            >
                                <option [ngValue]="null" disabled selected>
                                    Select a Panorama
                                </option>
                                <option
                                    *ngFor="let panorama of panoramas"
                                    [ngValue]="panorama"
                                >
                                    {{ panorama.hostname }}
                                </option>
                            </select>
                            <c-form-feedback
                                [valid]="
                                    selectedPanoramaControl.valid &&
                                    selectedPanoramaControl.touched
                                        ? true
                                        : undefined
                                "
                            >
                                Looks good!</c-form-feedback
                            >
                        </c-col>
                        <c-col xs="12">
                            <button
                                cButton
                                class="me-1"
                                color="primary"
                                type="submit"
                                [disabled]="!customStylesForm.valid"
                            >
                                Submit form
                            </button>
                        </c-col>
                    </form>
                </app-automation-interface>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
