<mat-tab-group (selectedTabChange)="selectTab($event.index)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="pandash-tab-icon">build</mat-icon>
      Configure
    </ng-template>

    <div class="dashboard">

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Configure PAN-OS">
          <div class="tile-label">
            <h3>Configure PAN-OS</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Configure Panorama">
          <div class="tile-label">
            <h3>Configure Panorama</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_prisma.png" alt="Configure Prisma">
          <div class="tile-label">
            <h3>Configure Prisma</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_prisma.png" alt="Configure Prisma">
          <div class="tile-label">
            <h3>Synchronize Panorama and Prisma</h3>
          </div>
        </div>
      </a>

      <a routerLink="/configuration/get-certificate-chain" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Upload Certificate Chain">
          <div class="tile-label">
            <h3>Retrieve and Upload Certificate Chain</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Create Security Policy">
          <div class="tile-label">
            <h3>Create Security Policy</h3>
          </div>
        </div>
      </a>

    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="pandash-tab-icon">settings</mat-icon>
      Operational
    </ng-template>

    <div class="dashboard">
      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Configure PAN-OS">
          <div class="tile-label">
            <h3>Run commands against PAN-OS</h3>
          </div>
        </div>
      </a>

      <a routerLink="/operational/panorama-reports" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Configure Panorama">
          <div class="tile-label">
            <h3>Retrieve reports from Panorama</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_prisma.png" alt="Configure Prisma">
          <div class="tile-label">
            <h3>Validate status Prisma</h3>
          </div>
        </div>
      </a>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="pandash-tab-icon">build</mat-icon>
      Maintenance
    </ng-template>

    <div class="dashboard">
      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Configure PAN-OS">
          <div class="tile-label">
            <h3>Reboot PAN-OS</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_pan.png" alt="Configure Panorama">
          <div class="tile-label">
            <h3>Reboot Panorama</h3>
          </div>
        </div>
      </a>

      <a routerLink="/dashboard" class="tile">
        <div class="tile-content">
          <img src="assets/img/logo_prisma.png" alt="Configure Prisma">
          <div class="tile-label">
            <h3>Remove Prisma Tenant</h3>
          </div>
        </div>
      </a>
    </div>
  </mat-tab>
</mat-tab-group>
